.Rproj.user
/doc/
/Meta/
/debug/
/passage_times_compare
/scripts
/tmp_alfak_output
alfak_fitness_review.md
.DS_Store
.Rhistory
alfak_fitness_review_ver2.md
..Rcheck/00check.log
PR_1530f80_to_HEAD.md
commits.aux
commits.log
commits.pdf
commits.tex
/benchmark/results
joint_bayes_plan.tex
joint_bayes_plan.pdf
commits.fdb_latexmk
commits.fls
commits.synctex.gz
joint_bayes_plan.aux
joint_bayes_plan.fdb_latexmk
joint_bayes_plan.fls
joint_bayes_plan.log
joint_bayes_plan.out
joint_bayes_plan.synctex.gz
benchmark/scr/run_benchmark_alfak.html
empirical_censored_weighted_plan.fls
empirical_censored_weighted_plan.log
empirical_censored_weighted_plan.out
empirical_censored_weighted_plan.pdf
empirical_censored_weighted_plan.tex
empirical_censored_weighted_plan.fdb_latexmk
empirical_censored_weighted_plan.aux
ak.pdf
*.html
Rplots.pdf
